
@use "../../components/App/App";

.modal-content{
  background-color: map_get(App.$theme-colors, 'primary-black');
}

button.close{
  color: map_get(App.$theme-colors, 'primary-white');
  &:focus,
  &:hover{
    color: white;
    opacity: 0.90;
  }
}