@use "../../components/App/App";


#routine-modal {
  width: 55%;
  max-width: none !important;
}

.modal-routine-detail .modal-content{
  background-color: map_get(App.$theme-colors, "black-background");
}
