
#idDropDownMuscleGroup {
  min-width: 176px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#idDropDownDifficult {
  min-width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

